
.forgot-container {
    background-image: url('/src/assets/auth/3.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login {
    background: rgba(172, 171, 171, 0.2); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    padding: 20px;
    border-radius: 10px; /* Optional: Rounded corners */
}
.login input  {
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    backdrop-filter: blur(10px) !important; /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    /* border-radius: 10px; Optional: Rounded corners */
    /* border-collapse: collapse; */
    border: none;
    box-shadow: none;
    border-bottom: 1px solid black;
}
.login select  {
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    backdrop-filter: blur(10px) !important; /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    border-radius: 10px; /* Optional: Rounded corners */
}







.custom-otp-input {
    width: 40px;
    font-size: 26px;
    border: 0 none;
    appearance: none;
    text-align: center;
    transition: all 0.2s;
    background: transparent;
    border-bottom: 2px solid var(--surface-500);
}

.custom-otp-input:focus {
    outline: 0 none;
    border-bottom-color: var(--primary-color);
}